 
# general
*~
*.pyc
\#*\#
.\#*
*DS_Store
out.txt
TensorFlowTTS.egg-info/
doc/_build
slurm-*.out
tmp*
.eggs/
.hypothesis/
.idea
.backup/
.pytest_cache/
__pycache__/
.coverage*
coverage.xml*
.vscode*
.nfs*
.ipynb_checkpoints
ljspeech
*.h5
*.npy
./*.wav
*.yml
!docker-compose.yml
/Pipfile
/Pipfile.lock
/datasets
/examples/tacotron2/exp/
/temp/
LibriTTS/
dataset/
mfa/
kss/
baker/
libritts/
dump_baker/
dump_ljspeech/
dump_kss/
dump_libritts/
/examples/*/*
/notebooks/test_saved/
CommonVoiceBR.tar.gz
CommonVoiceBR/
dump_commonvoicebr_16/
dump_commonvoicebr_24/
notebooks/alignment-07.png
notebooks/finetune_output.tar.gz
notebooks/spectrogram-07.png
notebooks/tacotron_output/
notebooks/wav-07.wav
ttsexamples/multiband_melgan/exp/
ttsexamples/tacotron2/exp/
